RayTracingInAWeekend/bin/Debug/netcoreapp3.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
RayTracingInAWeekend/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
RayTracingInAWeekend/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
RayTracingInAWeekend/bin/Debug/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
RayTracingInAWeekend/bin/Debug/netcoreapp3.0/RayTracingInAWeekend.deps.json
RayTracingInAWeekend/bin/Debug/netcoreapp3.0/RayTracingInAWeekend.dll
RayTracingInAWeekend/bin/Debug/netcoreapp3.0/RayTracingInAWeekend.exe
RayTracingInAWeekend/bin/Debug/netcoreapp3.0/RayTracingInAWeekend.pdb
RayTracingInAWeekend/bin/Debug/netcoreapp3.0/RayTracingInAWeekend.runtimeconfig.dev.json
RayTracingInAWeekend/bin/Debug/netcoreapp3.0/RayTracingInAWeekend.runtimeconfig.json
RayTracingInAWeekend/bin/Debug/netcoreapp3.0/Render.png
RayTracingInAWeekend/bin/Debug/netcoreapp3.0/System.Drawing.Common.dll
RayTracingInAWeekend/bin/Release/netcoreapp3.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
RayTracingInAWeekend/bin/Release/netcoreapp3.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
RayTracingInAWeekend/bin/Release/netcoreapp3.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
RayTracingInAWeekend/bin/Release/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
RayTracingInAWeekend/bin/Release/netcoreapp3.0/RayTracingInAWeekend.deps.json
RayTracingInAWeekend/bin/Release/netcoreapp3.0/RayTracingInAWeekend.dll
RayTracingInAWeekend/bin/Release/netcoreapp3.0/RayTracingInAWeekend.exe
RayTracingInAWeekend/bin/Release/netcoreapp3.0/RayTracingInAWeekend.pdb
RayTracingInAWeekend/bin/Release/netcoreapp3.0/RayTracingInAWeekend.runtimeconfig.dev.json
RayTracingInAWeekend/bin/Release/netcoreapp3.0/RayTracingInAWeekend.runtimeconfig.json
RayTracingInAWeekend/bin/Release/netcoreapp3.0/Render.png
RayTracingInAWeekend/bin/Release/netcoreapp3.0/System.Drawing.Common.dll
RayTracingInAWeekend/bin/Release/netcoreapp3.0/WaveEngine.Mathematics.dll
RayTracingInAWeekend/bin/Release/netcoreapp3.0/WaveEngine.Mathematics.pdb
RayTracingInAWeekend/obj/Debug/netcoreapp3.0/RayTracingInAWeekend.AssemblyInfo.cs
RayTracingInAWeekend/obj/Debug/netcoreapp3.0/RayTracingInAWeekend.AssemblyInfoInputs.cache
RayTracingInAWeekend/obj/Debug/netcoreapp3.0/RayTracingInAWeekend.assets.cache
RayTracingInAWeekend/obj/Debug/netcoreapp3.0/RayTracingInAWeekend.csproj.CopyComplete
RayTracingInAWeekend/obj/Debug/netcoreapp3.0/RayTracingInAWeekend.csproj.CoreCompileInputs.cache
RayTracingInAWeekend/obj/Debug/netcoreapp3.0/RayTracingInAWeekend.csproj.FileListAbsolute.txt
RayTracingInAWeekend/obj/Debug/netcoreapp3.0/RayTracingInAWeekend.csprojAssemblyReference.cache
RayTracingInAWeekend/obj/Debug/netcoreapp3.0/RayTracingInAWeekend.dll
RayTracingInAWeekend/obj/Debug/netcoreapp3.0/RayTracingInAWeekend.exe
RayTracingInAWeekend/obj/Debug/netcoreapp3.0/RayTracingInAWeekend.pdb
RayTracingInAWeekend/obj/Debug/netcoreapp3.0/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
RayTracingInAWeekend/obj/Debug/netcoreapp3.0/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
RayTracingInAWeekend/obj/Debug/netcoreapp3.0/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
RayTracingInAWeekend/obj/Release/netcoreapp3.0/RayTracingInAWeekend.AssemblyInfo.cs
RayTracingInAWeekend/obj/Release/netcoreapp3.0/RayTracingInAWeekend.AssemblyInfoInputs.cache
RayTracingInAWeekend/obj/Release/netcoreapp3.0/RayTracingInAWeekend.assets.cache
RayTracingInAWeekend/obj/Release/netcoreapp3.0/RayTracingInAWeekend.csproj.CopyComplete
RayTracingInAWeekend/obj/Release/netcoreapp3.0/RayTracingInAWeekend.csproj.CoreCompileInputs.cache
RayTracingInAWeekend/obj/Release/netcoreapp3.0/RayTracingInAWeekend.csproj.FileListAbsolute.txt
RayTracingInAWeekend/obj/Release/netcoreapp3.0/RayTracingInAWeekend.csprojAssemblyReference.cache
RayTracingInAWeekend/obj/Release/netcoreapp3.0/RayTracingInAWeekend.dll
RayTracingInAWeekend/obj/Release/netcoreapp3.0/RayTracingInAWeekend.exe
RayTracingInAWeekend/obj/Release/netcoreapp3.0/RayTracingInAWeekend.pdb
RayTracingInAWeekend/obj/Release/netcoreapp3.0/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
RayTracingInAWeekend/obj/Release/netcoreapp3.0/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
RayTracingInAWeekend/obj/Release/netcoreapp3.0/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
RayTracingInAWeekend/obj/project.assets.json
RayTracingInAWeekend/obj/RayTracingInAWeekend.csproj.nuget.cache
RayTracingInAWeekend/obj/RayTracingInAWeekend.csproj.nuget.dgspec.json
RayTracingInAWeekend/obj/RayTracingInAWeekend.csproj.nuget.g.props
RayTracingInAWeekend/obj/RayTracingInAWeekend.csproj.nuget.g.targets
.vs/RayTracingInAWeekend/v16/Server/sqlite3/db.lock
.vs/RayTracingInAWeekend/v16/Server/sqlite3/storage.ide
.vs/RayTracingInAWeekend/v16/Server/sqlite3/storage.ide-shm
.vs/RayTracingInAWeekend/v16/Server/sqlite3/storage.ide-wal
.vs/RayTracingInAWeekend/v16/.suo
.vs/RayTracingInAWeekend/v15/.suo
.vs/RayTracingInAWeekend/DesignTimeBuild/.dtbcache
.vs/RayTracingInAWeekend/v15/Server/sqlite3/db.lock
.vs/RayTracingInAWeekend/v15/Server/sqlite3/storage.ide
.vs/RayTracingInAWeekend/v15/Server/sqlite3/storage.ide-shm
.vs/RayTracingInAWeekend/v15/Server/sqlite3/storage.ide-wal
